root = true

[*]
# Các thuộc tính cho mọi file
indent_size = 2
charset = utf-8
end_of_line = lf
indent_style = tab
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx}]
# Các thuộc tính cho file .js và .ts
quote_type = single
