.announcementBar {
	display: flex;
	align-items: center;
	font-weight: 700;
	border-bottom: 1px solid var(--color-emphasis-100);
	background: repeating-linear-gradient(
		35deg,
		hsl(167, 68%, 85%),
		hsl(167, 68%, 85%) 20px,
		hsl(167, 68%, 95%) 10px,
		hsl(167, 68%, 95%) 40px
	);
	color: inherit;
}

.announcementBarContent {
	flex: 1 1 auto;
	font-size: 85%;
	text-align: center;
	padding: 5px 0;
}

@media print {
	.announcementBar {
		display: none;
	}
}

.announcementBarContent a {
	color: inherit;
	text-decoration: underline;
}

@media (min-width: 997px) {
  :root {
    .announcementBar {
      height: 30px;
    }
  }

  .announcementBarPlaceholder,
  .announcementBarClose {
    flex-basis: 50px;
  }
}


