.pagination-nav {
  display: flex;

  @media print {
    display: none;
  }

  &__item {
    display: flex;
    flex: 1 50%;
    max-width: 50%;

    &--next {
      text-align: right;
    }

    & + & {
      margin-left: var(--spacing-horizontal);
    }
  }

  &__link {
    border: 1px solid var(--color-emphasis-300);
    border-radius: var(--global-radius);
    flex-grow: 1;
    line-height: var(--heading-line-height);
    padding: var(--global-spacing);
    @mixin transition border-color;

    &:hover {
      border-color: var(--color-primary);
      text-decoration: none;
    }
  }

  &__label {
    font-size: var(--h4-font-size);
    font-weight: var(--heading-font-weight);
    word-break: break-word;

    ^&__item:first-child &::before {
      content: '« '
    }

    ^&__item--next &::after {
      content: ' »';
    }
  }

  &__sublabel {
    color: var(--color-content-secondary);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.25rem;
  }
}

.uyen-oi-anh-thich-em {
	margin-top: 3rem;
}
